<section class="seccion">
    <div class="tarjeta">
        <h3 class="mayusculas">únete a reporama</h3>
        <h1 class="titulo">Regístrate</h1>
        
        <p>Para crear listas de colecciones, <span style="color: pink;">categorías, editoriales... </span> y realizar reposiciones de forma sencilla <img class="guinyo" src="/img/icons/smile1.png" alt="guinyo"></p>

        <form action="/signup" method="post">

            <div class="input-group mb-3">
                <input required type="text" class="inputNormal" name="nombre_usuario" placeholder="Nombre de usuario">
            </div>

            <div class="input-group mb-3">
                <input required type="text" class="inputNormal" name="correo" placeholder="Correo">
            </div>

            <div class="input-group mb-3">
                <input required type="text" class="inputNormal" name="contrasena1" placeholder="Contraseña">
            </div>

            <div class="input-group mb-3">
                <input required type="text" class="inputNormal" name="contrasena" placeholder="Repite la contraseña">
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-success px-5">crear cuenta</button>
            </div>
        </form>

    </div>
</section>