<section class="seccion">
    <div class="tarjeta">
        <h3 class="mayusculas">únete a reporama</h3> 
        <h1 class="titulo">Inicia sesión</h1>        
        <p>Para crear listas de colecciones, <span style="color: pink;">categorías, editoriales... </span> y realizar reposiciones de forma sencilla <img class="guinyo" src="/img/icons/smile1.png" alt="guinyo"></p>

        <form action="/login" method="post">

            <div class="input-group mb-3">
                <input required type="email" class="inputNormal" name="correo" placeholder="Correo">
            </div>
            <div class="input-group mb-3">
                <input required type="password" class="inputNormal" name="contrasena" placeholder="Contraseña">
            </div>

            <div class="form-group">
                <button type="submit" class="crearCuenta btn btn-success px-4">Inicia sesión</button>
            </div>
            <a class="enlaces" href="/signup">O regístrate</a>
        </form>

    </div>
</section>