<section>
    <h3>SIMPLIFICA EL TRABAJO</h3>    
    <h1>Añade un comic</h1>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magni hic porro at magnam reiciendis quis, aut aliquid</p>
    <form>
        <div class="mb-3">
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <input type="password" class="form-control" id="exampleInputPassword1">
        </div>
        <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div>
        <div class="mb-3">
            <select id="disabledSelect" class="form-select">
                <option>Disabled select</option>
            </select>
            </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</section>