<section>
    <div class="container ">
        <div class="row">
            <div class="col text-center">
                {{!-- <img class="imagen" src="img/404/hombreEspacio.svg" alt="{{mensajeError}}">  --}}
                {{!-- <img class="imagen" src="img/404/monstruoOops.svg" alt="{{mensajeError}}"> --}}

                <img class="imagen" src="img/404/robotOops.svg" alt="{{mensajeError}}">

            </div>
        </div>
    </div>
</section>