<section>
    <div class="container ">
        <div class="row">
            <div class="col text-center">
                <img class="imagen" src="img/404/robotOops.svg" alt="{{mensajeError}}">

            </div>
        </div>
    </div>
</section>