<section>
    <div class="container ">
        <div class="row">
            <div class="col text-center">
                <h1>💀ERoR 404💀</h1>
                <h1>Todo en mi está mal</h1>
                <img class="imagen" src="img/404error.png" alt="ERoR 404 (todo en mi está mal)">
            </div>
        </div>
    </div>
</section>