<main id="mainHome">

    <div class="cardHome" style="max-width: 540px;">
        <div class="containerHome">
            <a href="/">
                <div class="fondo">
                    <div id="containerList">
                        <img class="iconosHome" src="/img/Home/Anotar1-1.svg" class="img-fluid rounded-start" alt="Anotar" />
                    </div>
                </div>
            </a> 
            <div>
                <div class="card-title">
                    <div class="hache5">
                        <div class="circuloAdvertencia"></div>
                        <a href="/"><h5>Anotar pedido</h5></a>
                    </div>
                    <p class="parrafoHome">Terminar de anotar 1 pedido</p>
                    <hr class="divisorGordo">
                </div>
            </div>
        </div>
    </div>

    <div class="cardHome" style="max-width: 540px;">
        <div class="containerHome">
            <a href="/">
                <div class="fondo">
                    <div id="containerList">
                        <img class="iconosHome" src="/img/Home/Pedido4-1.svg" class="img-fluid rounded-start" alt="Anotar" />
                    </div>
                </div>
            </a>
            <div>
                <div class="card-title">
                    <div class="hache5">
                        <div class="circuloAdvertencia"></div>
                        <a href="/"><h5>Realizar pedido</h5></a>
                    </div>
                    <p class="parrafoHome">2 Pedidos pendientes</p>
                    <hr class="divisorGordo">
                </div>
            </div>
        </div>
    </div>

    <div class="cardHome" style="max-width: 540px;">
        <div class="containerHome">
            <a href="/comics">
                <div class="fondo">
                    <div id="containerList">
                        <img class="iconosHome" src="/img/Home/Inventario-1.svg" class="img-fluid rounded-start" alt="Anotar" />
                    </div>
                </div>
            </a>
            <div>
                <div class="card-title">
                    <div class="hache5">
                        <div class="circuloAdvertencia"></div> 
                        <a href="/comics"><h5>Inventario</h5></a>
                    </div>
                    <p class="parrafoHome">Todas las colecciones y ejemplares ordenador por criterios de búsqueda</p>
                    <hr class="divisorGordo">
                </div>
            </div>
        </div>
    </div>
    <div class="cardStatics" style="max-width: 540px;">
        <h3 class="mayusculas">ESTADÍSTICAS</h3>
        <h1 class="titulo">Las colecciones y ejemplares que más se piden por épocas</h1>
        <p>Marzo 2023</p>
        <div class="estadisticas">

        </div>
        <div class="divStatics">
            <h3 class="h3Statics">Todas las estadísticas</h3>
            <a class="enlaceSubrayado" href="/">Ver Más<img class="irDerecha" src="/img/icons/IrDerecha.svg" alt="Flecha ir"></a>
        </div>
    </div>
</main>