<section class="seccionList">
    <div class="otraTarjeta">
        <h1 class="titulo">Nos alegramos de verte en  Reporama</h1>
        <a class="enlaces" href="/login">Inicia sesión</a>     
    </div>

    <div id="cajaLogoFutu">
        <img class="logoFuturama" src="img/extras/CARTOON-VERDE.png" alt="Logo de la tienda">
    </div>

</section>