<section>
    {{#if pedido}}
    <div class="cardStatics" style="max-width: 540px;">
        <h3 class="mayusculas"></h3>
        <h1 class="titulo">Pedidos</h1>
        <h3 class="h3Statics">Pedidos pendiente</h3>
        <ul>
            <li class="listaPedidos">
                <a class="enlaces" href="/pedido/pendiente/{{id}}">Manga | Planeta | 23/01/2023</a>
            </li>
        </ul>
    </div>
    {{else}}
    <div class="noComics">
        <div>
            <p>No hay pedidos disponibles.</p>
            <a class="enlaces" href="/pedido/add">¡Añade el primero!</a>
        </div>
        <img class="cajaVacia" src="/img/extras/cajaVacia.svg" alt="Caja vacía">
    </div>
    {{/if}}

</section>
