#mainHome {
  padding: 15px; }

.cardHome {
  background: #232F40 !important; }

#containerList {
  display: flex;
  justify-content: center;
  background: #EDF2F7;
  border-radius: 8px !important;
  width: 82px;
  height: 88px; }
  #containerList h5 {
    font-size: 24px !important;
    font-weight: 700; }

.parrafoHome {
  font-size: 16px !important;
  font-weight: 400;
  opacity: 80% !important;
  margin-left: 18px !important; }

.circuloAdvertencia {
  width: 10px;
  height: 10px;
  background: #ff5e00;
  border-radius: 6px !important;
  margin-top: 5px;
  margin-right: 8px; }

.fondo {
  background: #2B3B4F;
  border-radius: 8px !important;
  margin-bottom: .5rem !important; }

.iconosHome {
  width: 55px; }

.hache5 {
  display: flex;
  margin-top: 20px; }
  .hache5 a {
    text-decoration: none !important; }

.divisorGordo {
  background-color: #BEFFBE;
  height: 5px !important;
  border-radius: 3px !important;
    border-radius-margin-bottom: 30px !important; }

.cardStatics {
  z-index: 7;
  margin-top: 50px;
  padding-block: 25px;
  border-radius: 8px !important;
  background: #232F40; }

.estadisticas {
  height: 200px;
  background: #FAFAFA;
  border-radius: 8px !important; }

.divStatics {
  padding-inline: 20px; }

.h3Statics {
  margin-top: 30px;
  font-size: 20px;
  font-weight: 600; }

.enlaceSubrayado {
  color: #FAFAFA;
  text-decoration: underline !important;
  font-size: 13px;
  opacity: 80%; }
  .enlaceSubrayado:hover {
    opacity: 60% !important;
    color: #FAFAFA; }
  .enlaceSubrayado .irDerecha {
    width: 6px;
    margin-left: 5px; }
