.navbar-toggler {
  border: none !important; }
  .navbar-toggler:focus {
    box-shadow: none !important; }
  .navbar-toggler:focus-visible {
    border-inline: none !important; }

hr {
  opacity: inherit !important; }

.burger {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  width: 30px;
  height: 30px;
  outline: none;
  inline: none;
  padding-inline: 0; }
  .burger:focus {
    outline: none !important;
    box-shadow: none; }

.hamburguesa {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 40px;
  cursor: pointer; }

.bar {
  width: 100%;
  height: 2px;
  background-color: #FAFAFA;
  margin-block: 3px;
  border-radius: 10px !important; }

.logo_Cuadrado {
  width: 45.86px; }

.navbar-nav li {
  color: #FAFAFA !important;
  font-size: 23px;
  font-weight: 700; }
  .navbar-nav li:hover {
    opacity: 80% !important; }
  .navbar-nav li:focus {
    color: #8A8A8A !important; }

.navbar-nav {
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25);
  padding-inline: 1rem !important;
  position: absolute;
  z-index: 24;
  left: 0px;
  top: 58px;
  width: 100%;
  background: #232F40; }
  @media only screen and (min-width: 1025px) {
    .navbar-nav {
      display: flex; } }

.nav-link:hover {
  opacity: 80% !important; }

.iconoPerfil {
  width: 30px; }

.sombra {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4); }

.lineaDivisora {
  background: #BEFFBE !important;
  padding: 0 !important;
  margin: 0 !important;
  margin-bottom: 6px !important;
  opacity: none !important; }
  @media only screen and (min-width: 1025px) {
    .lineaDivisora {
      display: none !important; } }

#navbarNav {
  width: 100% !important;
  margin-inline: 0 !important; }

.dropdown-menu {
  width: 99.9%;
  border-radius: 0px !important;
  margin-top: -15px !important;
  border: 1px solid #C8C8C8 !important;
  border-top: none !important;
  color: #8A8A8A;
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25);
  color: white !important; }

.drpDwnNav {
  border: none !important;
  background: #232F40 !important; }

.container-fluid {
  padding-inline: 0 !important; }

.barra {
  display: flex;
  justify-content: space-between;
  padding-inline: 1rem !important; }

@media only screen and (min-width: 1025px) {
  .collapse {
    margin-top: -2rem; } }
