* {
  font-family: 'Raleway', sans-serif;
  color: #FAFAFA;
  border-radius: 0px !important;
  letter-spacing: 1px !important; }

body {
  background: #232F40; }
  @media only screen and (min-width: 1025px) {
    body {
      padding-inline: 10rem; } }

.mayusculas {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.15em;
  text-transform: uppercase; }

.titulo {
  font-size: 32px;
  font-weight: 700;
  line-height: 48px;
  font-feature-settings: 'pnum' on, 'lnum' on, 'liga' off; }

.parrafo {
  font-size: 16px;
  font-weight: 400; }

.tarjeta {
  border-radius: 8px !important;
  background: #2B3B4F;
  padding-inline: 20px !important;
  padding-block: 30px !important;
  margin-inline: -10px !important;
  margin-block: -20px !important; }

.card {
  border: none !important;
  background: #2B3B4F !important;
  width: 100% !important; }

.seccion {
  padding: 2rem; }

.btn {
  margin-top: 15px;
  width: 100%;
  height: 50px;
  color: #BEFFBE !important;
  text-transform: uppercase;
  border: solid 2px #BEFFBE !important;
  background: #2B3B4F !important;
  border: 2px solid #BEFFBE !important;
  box-shadow: 4px -4px 0px #BEFFBE; }
  .btn:hover {
    color: #2B3B4F !important;
    background: #BEFFBE !important;
    border: 2px solid #2B3B4F !important;
    transition: none !important; }
  .btn:active {
    box-shadow: 2px -2px 0px #BEFFBE !important; }

input {
  color: #8A8A8A !important;
  width: 100%;
  height: 50px;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #C8C8C8 !important;
  border-bottom: none !important;
  border-radius: 0px !important;
  padding-inline: 18px;
  margin-top: 10px; }
  input::placeholder {
    color: #C8C8C8 !important; }
  input:focus {
    box-shadow: none !important; }
  input:focus-visible {
    outline: none !important; }

label {
  font-size: 13px;
  opacity: 80%; }

.card-body {
  padding: none !important; }
