<footer>
    <div id="contenedorFoot" class="container-fluid">
        <div class="llevarDelante">
            <img class="logo-Cuadrado-Futu" src="/img/icons/Logo-Futurama/Futurama-Cuadro-Blanco-Transp.svg" alt="Futurama">

            <div class="copy">
                <p>© 2023 Reporama. Todos los derechos reservados.</p>
            </div>
            <div class="policy"> 
                <a class="enlaces" href="https://futuramacomics.es/politica-de-privacidad/">Privacy Policy</a>
                <a class="enlaces" href="https://futuramacomics.es/terminos-y-condiciones/">Terms of Use</a>
                <a class="enlaces" href="https://futuramacomics.es/politica-de-cookies/">Cookies Policy</a>
            </div>
            <div class="redes">
                <a href="https://www.facebook.com/FuturamaComics"><img class="logo-facebook" src="/img/icons/Redes/Redes-oscuro/Facebook.svg" alt="Facebook"></a>
                <a href="https://www.youtube.com/channel/UClWEy2r5YUq1WW7tv76ryBA"><img class="logo-youtube" src="/img/icons/Redes/Redes-oscuro/Youtube.svg" alt="Youtube"></a>
                <a href="https://www.instagram.com/futurama.comics/"><img class="logo-instagram" src="/img/icons/Redes/Redes-oscuro/Instagram.svg" alt="Instagram"></a>
                <a href="https://www.pinterest.es/pin/futurama-cmics--471822498434122281/"><img class="logo-pinterest" src="/img/icons/Redes/Redes-oscuro/Pinterest.svg" alt="Pinterest"></a>
            </div>
        </div>
    </div>
</footer>