<section>
    <div class="noComics">
        <div>
            <p class="mayusculas">¡PUM! Cabezazo en el bazo</p>
            <p>Esto es un pachycephalosaurio</p>
            <a class="enlaces" href="https://www.youtube.com/watch?v=9N8ShuTZfxw" target="_blank">¡Aprende más de su explectacularidad!</a>
        </div>
        <img class="cajaVacia" src="/img/extras/Pachycephalosaurus.webp" alt="Caja vacía">
    </div>
</section>