<nav class="navbar navbar-expand-lg navbar-dark">
  <div id="contenedorNav" class="container-fluid">
    <div class="barra container-fluid">
      <a class="navbar-brand" href="/home"><img class="logo_Cuadrado" src="/img/icons/Logo-Reporama/Repo-Cuadro-Blanco-Transp.svg" alt="Reporama"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <div class="hamburguesa">
            <span class="bar"></span>
            <span class="bar"></span> 
            <span class="bar"></span>
          </div>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <ul class="navbar-nav">
        <li><hr class="lineaDivisora"></li>
        
        {{#if user}}

        <li class="nav-item">
          <a class="nav-link" href="/perfil">
            <img class="iconoPerfil" src="/img/icons/Logo-Usuario.svg" alt="Icono perfil">
            {{user.nombre_usuario}}
          </a>
        </li>

        <li class="nav-item">
          <div class="nav-link dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            Pedidos
          </div>

          <ul id="sinsombra" class=" drpDwnNav dropdown-menu">
            <li class="nav-item">
              <a class="nav-link" href="/pedido/add">Anotar pedido</a>
            </li>
            
            <li class="nav-item">
              <a class="nav-link" href="/pedidos-pendientes">Pedidos pendientes</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/pedidos-realizados">Pedidos realizados</a>
            </li>
          </ul>

        </li>

        <li class="nav-item">
          <div class="nav-link dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            Comics
          </div>

          <ul id="sinsombra" class="drpDwnNav dropdown-menu">
            <li class="nav-item">
              <a class="nav-link" href="/comics/add">Añadir cómic</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/comics">Inventario</a>
            </li>
          </ul>

        </li>
        <li class="nav-item">
          <a class="nav-link" href="/logout">Cerrar sesión</a>
        </li>
        {{else}}
          <li class="nav-item">
            <a class="nav-link" href="/signup">Regístrate</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/login">Inicia sesión</a>
          </li>

        {{/if}}
      
      </ul>
    </div>
  </div>
</nav>