<nav class="navbar navbar-expand-lg navbar-dark">
  <div id="contenedorNav" class="container-fluid">
    <div class="barra container-fluid">
      <a class="navbar-brand" href="/"><img class="logo_Cuadrado" src="/img/icons/Logo-Reporama/Repo-Cuadro-Blanco-Transp.svg" alt="Reporama"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        {{!-- <span class="navbar-toggler-icon"></span> --}}
        <div class="hamburguesa">
            <span class="bar"></span>
            <span class="bar"></span> 
            <span class="bar"></span>
          </div>
      </button>
    </div>

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <ul class="navbar-nav">
        <li><hr class="lineaDivisora"></li>
        <li class="nav-item">
          <a class="nav-link" href="/">Perfil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/comics/add">Anotar pedido</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/">Realizar pedido</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/comics">Inventario</a>
        </li>
      </ul>
    </div>
  </div>
</nav>