@import '_colores'
@import '_componentes'

footer
	position: relative
	z-index: -1
	height: 325px
	background: $marinoOscuro

.llevarDelante
	z-index: 999 !important

#contenedorFoot
    width: 100%
    background: $marinoClaro !important
    position: absolute
    padding-inline: 20px !important
    height: 140%
    display: flex
    flex-direction: column
    justify-content: end
    padding: 1rem
    border-top-right-radius: 10px !important
    border-top-left-radius: 10px !important
    top: -154px

.copy
    font-size: 13px
.logo-Cuadrado-Futu
    width: 77px
    margin-bottom: 30px
.redes
    display: flex
    justify-content: space-between
    width: 200px
    margin-block: 20px
    img
        width: 40px
.policy
    display: flex
    justify-content: space-between
.enlaces
    color: $verdeClaro !important
    font-size: 14px !important
    text-decoration: underline !important
    &:hover
        opacity: 80%
        

