.burger
  background: none
  border: none
  cursor: pointer
  padding: 0
  width: 30px
  height: 30px

  outline: none 
  inline: none
  padding-inline: 0   
  &:focus
    outline: none !important
    box-shadow: none
.hamburguesa 
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  width: 20px
  height: 40px
  cursor: pointer
.bar
  width: 100%
  height: 2px
  background-color: #FAFAFA
  margin-block: 2px
  border-radius: 20px
body
  background: #232F40

a
//   color: #FAFAFA  
  color: #161616  
.logo_Cuadrado
  width: 45.86px
.lineaDivisora
  border: solid 1px #BEFFBE
.navbar-nav a
  font-size: 23px
  font-weight: 700
  &:focus
    color: #C0C0C0
    color: #666666
