@import '_colores' 
@import '_componentes'
  
*
  font-family: 'Raleway', sans-serif
  color: $casiBlanco
  border-radius: 0px !important
  letter-spacing: 1px !important

body
  position: relative
  z-index: -2
  background: $marinoOscuro
  @media only screen and (min-width: 1025px)
    padding-inline: 10rem 

.mayusculas
  font-size: 14px
  font-weight: 500
  letter-spacing: 0.15em
  text-transform: uppercase

.titulo
  font-size: 32px
  font-weight: 700
  line-height: 48px
  font-feature-settings: 'pnum' on, 'lnum' on, 'liga' off

.parrafo
  font-size: 16px
  font-weight: 400

.tarjeta
  @include tarjeta

.card
  @include cartel

.seccion 
  padding: 2rem

.btn
  @include boton 

input
  color: $gris !important
  width: 100%
  height: 50px
  padding: 8px
  font-size: 16px
  border: 1px solid $grisClaro !important
  border-bottom: none !important
  border-radius: 0px !important
  padding-inline: 18px
  margin-top: 10px
  &::placeholder
    color: $grisClaro !important
  &:focus 
    box-shadow: none !important
  &:focus-visible
    outline: none !important
label
  font-size: 13px
  opacity: 80%
  
.card-body 
  padding: none !important

.logoFuturama
  width: 80%
#cajaLogoFutu
  display: flex
  justify-content: center
  margin-top: 3rem